@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 13pt;
}

.App {
  text-align: left;
  background-color: black; /* Set background color to black */
}

/* Rest of your existing CSS styles */
.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* Set background color to black */
  overflow-y: hidden;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 13pt;
  overflow: hidden; /* Hide overflow content */
  line-height: 1.5; /* Adjust line spacing as needed */
}

/* Adjust padding based on screen orientation */
@media (orientation: landscape) {
  .footer {
    padding-bottom: 3%; /* 3% padding on top and bottom */
    padding-left: 4%;
    text-align: left;
  }

}

@media (orientation: portrait) {
  .footer {
    padding-bottom: 10%; /* 10% padding on top and bottom */
    text-align: center;
  }
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .video-container {
    padding-top: 20vh; /* 9:16 aspect ratio */
  }
}

@media (orientation: landscape) {
  .video-container {
    padding-top: 30vh; /* 16:9 aspect ratio */
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* home.css */

.container {
  overflow-x: hidden;
  height: 100vh;
}

@media (orientation: portrait) and (max-aspect-ratio: 0.47/1) and (min-aspect-ratio: 0.43/1) {
  .video-container {
    padding-top: 30vh; /* Adjust this value as needed */
  }
}
@media (orientation: portrait) and (max-aspect-ratio: 0.43/1) {
  .video-container {
    padding-top: 45vh; /* Adjust this value as needed */
  }
}